@font-face {
  font-family: "FirstFont";
  src: url(Fonts/Montserrat-Bold.ttf);
}
* {
  font-family: "FirstFont";
  text-align: right;
  color: azure;
  font-size: 35px;
}

p {
  color: rgb(219, 219, 219);
  font-size: 50px;
  font-family: Helvetica;
  text-align: right;
}
