body {
  background: linear-gradient(
    90deg,
    rgba(67, 206, 162, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

@font-face {
  font-family: "Title";
  src: url(Fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "LightFont";
  src: url(Fonts/Montserrat-Thin.ttf);
}
h1 {
  font-family: "Title";
  text-align: right;
  color: whitesmoke;
  font-size: 100px;
}

H2 {
  font-family: "LightFont";
  color: whitesmoke;
  font-size: 60px;
  text-align: right;
}

.img1 {
  text-align: left;
  display: inline-block;
}
.start {
  text-align: right;
  display: inline-block;
}
